html, body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
}

.narrow-container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 80px;
}

.header .narrow-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-bottom: 40px;
  background-color: #f7e296;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  margin-bottom: 35px;
}

.header__user-interface {
  display: flex;
  margin-bottom: 52px;
}

.header__user-interface form {
  width: 540px;
}

.header__link--login {
  width: 280px;
}

.header__link--compare {
  width: 136px;
}

.header__link--cart {
  width: 84px;
}

.header__main-links {
  display: flex;
  align-items: baseline;
}

.header__catalog {
  width: 540px;
}

.header-nav__items {
  display: flex;
  width: 500px;
}

.header-nav__item {
  width: 160px;
}

.merch-slider {
  display: flex;
  flex-direction: column;
}

.merch-slider__item {
  display: flex;
}

.merch-slider__image {
  width: 540px;
}

.merch-slider__description {
  width: 500px;
}

.popular {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.popular__item {
  width: 160px;
}

.services-slider {
  background-color: #e5e5e5;
}

.services-slider .container {
  display: flex;
}

.services-slider__links {
  width: 400px;
}

.services-slider__item {
  width: 763px;
  display: flex;
  flex-direction: column;
}

.partners {
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 90px;
}

.company {
  display: flex;
  margin-bottom: 100px;
}

.company__item--left {
  width: 600px;
}

.company__item--right {
  width: 560px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  background-color: #464646;
}

.footer__user-interface {
  display: flex;
  margin-bottom: 33px;
}

.footer__logo {
  width: 800px;
}

.footer__links {
  display: flex;
  width: 325px;
}

.footer__link {
  width: 110px;
}

.footer__contacts {
  display: flex;
  margin-bottom: 60px;
}

.footer__contacts p {
  width: 360px;
}

.footer-nav {
  width: 640px;
}

.footer-nav__items {
  display: flex;
}

.footer-nav__item {
  width: 165px;
}

.social {
  display: flex;
}

.social__items {
  margin: 0 auto;
}

.social__academy-logo {
  justify-content: flex-end;
  width: 60px;
}

.breadcrumbs {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.breadcrumbs__links {
  display: flex;
}

.breadcrumbs__link {
  width: 90px;
}

.catalog {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-right: 74px;
  background-color: #eeeeee;
}

.filter__heading {
  background-color: #dcdcdc;
}

.filter__item--color {
  display: flex;
  flex-direction: column;
}

.filter__item--bluetooth {
  display: flex;
  flex-direction: column;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  background-color: #eeeeee;
}

.sorting__title {
  width: 200px;
}

.sorting__links {
  display: flex;
  width: 500px;
}

.sorting__link {}

.products__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin-bottom: 40px;
}

.products__item {
  width: 360px;
}

.products__pages {
  display: flex;
  width: 760px;
  padding-bottom: 74px;
}
