html, body {
  min-width: 1440px;
  font-family: "OpenSans-Light";
  font-size: 15px;
}

@font-face {
  font-family: Gilroy-eb;
  src: url(../fonts/Gilroyextrabold.ttf);
}

@font-face {
  ;
  font-family: Gilroy-Light;
  src: url(../fonts/Gilroylight.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

img {
  max-width: 100%;
  height: auto;
}

.narrow-container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
}

.header .narrow-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 54px;
  margin-top: 40px;
  background-color: #f7e296;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner-container {
  width: 1100px;
  margin: 0 auto;
  padding-left: 60px;
}

.header__logo {
  position: absolute;
  margin-top: -30px;
  margin-bottom: 20px;
}

.header__logo a {
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 48px;
  letter-spacing: 0.01em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__logo:active {
  opacity: 0.3;
}

.header__user-interface {
  display: flex;
  padding-bottom: 38px;
  padding-top: 38px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.header__user-interface form {
  position: relative;
  width: 511px;
  padding-left: 40px;
}

.header__user-interface input {
  background: #f7e296;
  border: 0px;
  opacity: 0.3;
}

.header__user-interface input:hover {
  opacity: 0.6;
}

.header__user-interface form::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 20px;
  left: 0px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 5px 1px;
}

.header__link--login {
  position: relative;
  width: 290px;
  padding-left: 25px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link:active {
  opacity: 0.3;
}

.header__link--login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: -5px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 3px -108px;
}

.header__link--compare {
  position: relative;
  width: 125px;
  padding-left: 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

.header__link--compare::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: -2px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 2px -66px;
}

.header__link--cart {
  position: relative;
  width: 84px;
  padding-left: 29px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

.header__link--cart::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: 1px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 4px -23px;
}

.header__link--active-user {
  position: relative;
  width: 180px;
  padding-left: 27px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

.header__link--active-user::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: 0px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 3px -108px;
}

.header__link--active-login {
  width: 100px;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}

.header__main-links {
  position: relative;
  display: flex;
  align-items: baseline;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header__catalog {
  width: 540px;
  text-decoration: none;
  color: #000000;
}

.header-nav__items {
  display: flex;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav__item:hover {
  opacity: 0.6;
}

.header-nav__item:active {
  opacity: 0.3;
}

.header__catalog:hover {
  opacity: 0.6;
}

.header__catalog:active {
  opacity: 0.3;
}

.header-nav__item {
  width: 160px;
}

.header-nav__item--spaced {
  width: 120px;
  margin-left: auto;
}

.header-nav__item a {
  text-decoration: none;
  color: #000000;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.merch-slider {
  display: flex;
  flex-direction: column;
}

.merch-slider .narrow-container {
  background-image: linear-gradient(#f7e296 0, #f7e296 110px, #ffffff 0, #ffffff)
}

.merch-slider__item {
  display: flex;
}

.merch-slider__image {
  padding-left: 32px;
  width: 508px;
}

.merch-slider__description {
  width: 500px;
}

.merch-slider__title {
  width: 396px;
  padding-top: 83px;
  margin: 0;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
}

.merch-slider__description p {
  width: 485px;
  padding-top: 20px;
  padding-bottom: 36px;
  margin: 0;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.merch-slider__link {
  position: relative;
  display: block;
  z-index: 1;
  width: 220px;
  height: 40px;
  padding-top: 20px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.merch-slider__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-top: 9px solid #f0c52e;
  margin: 0 auto;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 220px;
}

.merch-slider__link:hover {
  background-color: #f0c52e;
}

.merch-slider__link:active {
  background-color: #f0c52e;
  opacity: 0.3;
}

.merch-slider__features {
  padding: 0;
  margin: 0;
  padding-top: 41px;
  display: flex;
}

.merch-slider__feature {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.merch-slider__feature:nth-child(2) {
  width: 140px;
}

.merch-slider__feature-title {
  padding-bottom: 10px;
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 36px;
  letter-spacing: 0.01em;
}

.merch-slider__feature-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.popular {
  display: flex;
  justify-content: space-between;
  padding-top: 102px;
  padding-bottom: 157px;
}

.popular__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.popular__item:hover .popular__logo {
  background-color: #f0c52e;
}

.popular__item:active img {
  opacity: 0.3;
  background-color: #f0c52e;
}

.popular__item:active .popular__title {
  opacity: 0.3;
}

.popular__item {
  display: flex;
  flex-direction: column;
}

.popular__title {
  width: 140px;
  margin: 0;
  padding-top: 36px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  text-align: left;
}

.popular__title a {
  text-decoration: none;
  color: #000000;
}

.popular__item--bottom-align a {
  align-items: flex-end;
}

.services-slider {
  padding-bottom: 106px;
  background-image: linear-gradient(#ffffff 0, #ffffff 30px, #e5e5e5 0, #e5e5e5)
}

.services__link a {
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.services-slider .container {
  display: flex;
}

.services-slider__links {
  width: 409px;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  list-style: none;
}

.services__link {
  padding: 0;
  position: relative;
  z-index: 1;
  width: 160px;
  height: 40px;
  padding-top: 10px;
  margin-bottom: 24px;
  text-align: center;
  box-sizing: border-box;
}

.services__link:hover {
  background-color: #f0c52e;
}

.services__link:active {
  background-color: #000000;
  color: #f0c52e;
}

.services__link::before {
  content: "";
  position: absolute;
  border-top: 8px solid #f0c52e;
  margin: 0 auto;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 160px;
  z-index: -1;
}

.services-slider__title {
  padding: 0;
  margin: 0;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
}

.services-slider__item {
  background-image: url("../img/delivery-logo.png");
  background-repeat: no-repeat;
  background-position: 560px 15px;
}

.services-slider__description p {
  padding: 0;
  margin: 0;
  padding-top: 28px;
  width: 440px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.services-slider__item {
  width: 763px;
  display: flex;
  flex-direction: column;
}

.partners {
  display: flex;
  justify-content: space-around;
  padding-top: 102px;
  padding-bottom: 99px;
}

.partners__link:nth-child(1):hover {
  background-image: url("../img/dji-hvr.png");
}

.partners__link:nth-child(2):hover {
  background-image: url("../img/gadgets-hvr.png");
}

.partners__link:nth-child(3):hover {
  background-image: url("../img/go-pro-hvr.png");
}

.partners__link:nth-child(4):hover {
  background-image: url("../img/vive-hvr.png");
}

.company {
  display: flex;
  margin-bottom: 83px;
}

.company__item--left {
  width: 600px;
}

.company__title {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 41px;
  padding-bottom: 40px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
}

.company__title::before {
  content: "";
  position: absolute;
  width: 80px;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 7px solid #000000;
}

.company__item p {
  width: 465px;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.company__list {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 52px;
  list-style: circle;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  list-style: none;
}

.company__list li {
  position: relative;
  padding-left: 38px;
}

.company__list li:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid #c5c5c5;
  top: 13px;
  left: 2px;
  width: 5px;
  height: 5px;
}

.company__item--right {
  width: 560px;
}

.company__map {
  padding-top: 10px;
  padding-bottom: 63px;
}

.company__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 260px;
  height: 40px;
  padding-top: 10px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.company__link:hover {
  background-color: #f0c52e;
}

.company__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 260px;
  border-top: 9px solid #f0c52e;
  padding: 0;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: column;
  padding-bottom: 58px;
}

.breadcrumbs__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
}

.breadcrumbs__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__link {
  position: relative;
  padding-right: 40px;
}

.breadcrumbs__link a {
  opacity: 0.3;
}

.breadcrumbs__link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 7px;
  top: 14px;
  right: 10px;
  background: url("../img/sprite.png");
  background-position: 0 -467px;
  opacity: 1;
}

.breadcrumbs__link:last-child::before {
  display: none;
}

.breadcrumbs__link a:hover {
  opacity: 0.6;
}

.breadcrumbs__link a:active {
  opacity: 0.1;
}

.breadcrumbs__link a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #000000;
}

.background-wrapper {
  position: relative;
}


.background-wrapper::before {
content: "";
position: absolute;
z-index: -2;
top: -12px;
height: 70px;
width: 100%;
background-image: linear-gradient(to right, #dbdbdb 0, #dbdbdb 32.5%, #eeeeee 0, #eeeeee);
}

.background-wrapper::after {
  content: "";
  width: 100%;
  height: 1300px;
  position: absolute;
    z-index: -3;
  background-image: linear-gradient(to right, #efefef 0, #efefef 32.5%, #ffffff 0, #ffffff);
}

.catalog {
  width: 1100px;
  display: flex;
}


.filter {
  display: block;
  width: 200px;
  margin-right: 140px;
}

.filter__item--price {
  padding-bottom: 40px;
}

.price-filter {
  position: relative;
  padding-top: 24px;
}

.price-filter__scale {
  height: 2px;
  width: 168px;
  margin: 0 auto;
  margin-bottom: 11px;
  background-color: #dbdbdb;
}

.price-filter__bar {
  height: 2px;
  background: #91c92f;
  width: 95px;
}

.price-filter__toggle {
  cursor: pointer;
}

.price-filter__toggle:active {
  background: #91c92f;
}

.price-filter__toggle--min {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 16px;
  border-radius: 50%;
  border: 3px solid #000000;
}

.price-filter__toggle--max {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 16px;
  right: 74px;
  border-radius: 50%;
  border: 3px solid #000000;
}

.price-filter__price-controls {
  font-size: 0;
}

.price-filter__price-controls label {
  display: inline-block;
  font-family: 'GilroyLight', 'Arial', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #000000;
  opacity: 0.2;
  border: none;
  text-transform: lowercase;
}

.price-filter__price-controls input {
  font-family: 'GilroyLight', 'Arial', sans-serif;
  font-size: 14px;
  width: 40px;
  margin-left: 5px;
  text-align: left;
  color: #000000;
  border: none
}

.price-filter__min-price {
  text-align: left;
  margin-right: 30px;
}

.filter form {
  padding-top: 94px;
}

.filter__heading {
  margin: 0;
  padding-top: 13px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter__title {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+span::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: 0;
  width: 22px;
  height: 22px;
  background: #dbdbdb;
}

input[type="checkbox"]+span:hover::before {
  background: #cecece;
}

input[type="checkbox"]+span:active::before {
  background: #c4c4c4;
}

input[type="checkbox"]+span {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 40px;
}

input[type="checkbox"]:checked+span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000000;
  top: 17px;
  left: 5.5px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -450px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+span {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 40px;
}

input[type="radio"]+span::before {
  content: "";
  position: absolute;
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #c5c5c5;
  top: 8px;
  left: 0px;
}

input[type="radio"]+span:hover::before {
  border: 2px solid #bcbcbc;
}

input[type="radio"]+span:active::before {
  border: 2px solid #acacac;
}

input[type="radio"]:checked+span::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #000000;
  top: 15px;
  left: 7px;
}

.filter__item--color span {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter__item--bluetooth span {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter__item--color {
  display: flex;
  flex-direction: column;
  padding-bottom: 34px;
}

.filter__item--bluetooth {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.filter__button::after {
  content: "312312";
  position: absolute;
  z-index: -1;
  width: 200px;
  border-top: 9px solid #f0c52e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.filter__button {
  border: none;
  background-color: #efefef;
  position: relative;
  display: block;
  width: 200px;
  height: 40px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.filter__button:hover {
  background-color: #f0c52e;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 81px;
}


.sorting__title {
  width: 224px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting__links {
  margin: 0;
  padding: 0;
  display: flex;
  width: 560px;
  list-style: none;
}

.sorting__link {
  margin-right: 30px;
}

.sorting__link:hover {
  opacity: 0.6;
}

.sorting__link:active a {
  opacity: 1;
}

.sorting__direction-links {
  display: flex;
  align-items: center;
}



.sorting__direction-link:hover {
  opacity: 0.4;
}

.sorting__direction-link:active {
  opacity: 1;
}

.sorting__direction-link--up {
  text-decoration: none;
  margin-right: 26px;
  font-size: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8.5px 9px 8.5px;
  opacity: 0.2;
  border-color: transparent transparent #000000 transparent;
}

.sorting__direction-link--down {
  text-decoration: none;
  font-size: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 8.5px 0 8.5px;
  border-color: #000000 transparent transparent transparent;
}

.sorting__link a {
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.sorting__link--active a {
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
  color: #000000;
}


.products {
  width: 760px;
}

.products__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

.products__item {
  width: 360px;
}

.products__pic {
  position: relative;
}

.products__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  display: none;
}

.action__buy {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  padding-top: 10px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.action__buy::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 200px;
  border-top: 9px solid #f0c52e;
  padding: 0;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
}

.action__buy:hover {
  background-color: #f0c52e;
}

.action__buy:active {
  opacity: 0.3;
}

.action__compare {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
}

.action__compare:hover {
  opacity: 1;
}

.action__compare:active {
  opacity: 0.2;
}

.products__item:hover .products__actions {
  display: flex;
}

.products__pic--new {
  position: relative;
}

.products__pic--new span {
  position: absolute;
  bottom: 313px;
  right: 40px;
  color: #000000;
  opacity: 0.2;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.products__pic--new span::before {
  content: "";
  position: absolute;
  display: block;
  top: -25px;
  right: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 0.2;
}

.products__link {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 48px;
}

.products__name {
  margin: 0;
}

.products__name a {
  display: block;
  width: 270px;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #000000;
}

.products__link span {
  display: block;
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
}

.products__pagination {
  display: flex;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  list-style-type: none;
  text-transform: uppercase;
  background: #ebebeb;
}

.products__page a {
  display: block;
  padding: 25px 13px;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}

.products__page:hover a {
  opacity: 0.6;
}

.products__page:active a {
  opacity: 1;
}

.products__page--back a {
  display: block;
  padding: 25px 30px;
  margin-right: 196px;
  color: #000000;
  opacity: 1;
}

.products__page--back:hover a {
  background-color: #d9d9d9;
  opacity: 1;
}

.products__page--back:active a {
  background-color: #d9d9d9;
  opacity: 0.3;
}

.products__page--forward a {
  display: block;
  padding: 25px 30px;
  margin-left: 188px;
  color: #000000;
  opacity: 1;
}

.products__page--forward:hover a {
  background-color: #d9d9d9;
  opacity: 1;
}

.products__page--forward:active a {
  background-color: #d9d9d9;
  opacity: 0.3;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #464646;
}

.footer__user-interface {
  display: flex;
}

.footer__logo {
  width: 835px;
}

.footer__logo {
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 48px;
  letter-spacing: 0.01em;
  color: #f7e184;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__logo:hover {
  color: #f0c52e;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__links {
  display: flex;
  max-width: 325px;
  list-style: none;
}

.footer__link--login {
  position: relative;
  padding-left: 27px;
  margin-right: 39px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

.footer__link--login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: 0px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 2px -130px;
}

.footer__link--login:hover:before {
  background-position: 2px -406px;
}

.footer__link--compare {
  position: relative;
  padding-left: 26px;
  margin-right: 5px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

.footer__link--compare::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: 0px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 7px -86px;
}

.footer__link--compare:hover:before {
  background-position: 7px -426px;
}

.footer__link--compare:active:before {
  opacity: 0.3;
  background-position: 7px -426px;
}

.footer__link--cart {
  position: relative;
  padding-left: 24px;
  margin-left: 33px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

.footer__link--cart::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: 0px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 3px -46px;
}

.footer__link--cart:hover:before {
  background-position: 3px -384px;
}

.footer__link--cart:active:before {
  opacity: 0.3;
  background-position: 3px -384px;
}

.footer__link a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}

.footer__link:hover a {
  opacity: 1;
}

.footer__link:active a {
  opacity: 0.3;
}

.footer__contacts {
  display: flex;
  align-items: baseline;
  padding-bottom: 44px;
  color: #ffffff;
}

.footer__contacts p {
  width: 371px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.footer-nav {
  width: 632px;
}

.footer-nav__items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-nav__item {
  width: 159px;
}

.footer-nav__item a {
  font-family: "Gilroy-eb", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-nav__item:hover a {
  opacity: 0.6;
}

.footer-nav__item:active a {
  opacity: 0.3;
}

.footer__contacts span {
  display: block;
  justify-content: flex-end;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.social {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.social::before {
  content: "";
  position: absolute;
  width: 80px;
  padding: 0;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 7px solid #f7e296;
}

.social__items {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.social__academy-logo {
  display: flex;
  justify-content: flex-end;
  width: 28px;
  margin-left: 463px;
  font-size: 0;
  text-decoration: none;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -298px;
}

.social__academy-logo:hover {
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -342px;
}

.social__academy-logo:active {
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -342px;
  opacity: 0.3;
}

.social__item {
  width: 55px;
  height: 40px;
  font-size: 0;
  text-decoration: none;
  opacity: 0.3;
  background: url("../img/sprite.png") no-repeat;
}

.social__item:hover {
  opacity: 0.6;
}

.social__item:active {
  opacity: 0.1;
}

.social__item--fb {
  background-position: 4px -154px;
}

.social__item--instagram {
  background-position: 3px -202px;
}

.social__item--twitter {
  background-position: 3px -250px;
}
